html{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



.container{
    width: 80%;
    height:150em;
    background-color: rgb(240, 240, 248);
    border: 1px solid black;
    margin: auto;
}
img{
    border-radius: 50px;
    margin-left: 350px;
    margin-top: 20px;
}
h3{
    margin-top: -110px;
    margin-left: 100px;
}
.information {
    width: 300px;
    height:150px;
    margin-top: -150px;
    background-color: rgb(240, 240, 248);
   
    color: blck;
    margin-left: 40px;
}
a{
    color: black;
    text-align: center;
    text-decoration: none;

}
article{
    float: right;
    width: 30%;
    height:150em;
   
    margin-top: -197px;
    background-color: rgb(28, 28, 123);
    color: white;
   
}
.sckills{
   margin-left: 10px;
   margin-top: 100px;
}

.item{
    margin-left: 10px;
}
main{
    float: left;
    width: 68%;
    height: 100em;
   
    margin-top: 100px;
    
}
h1{
    text-transform: uppercase;
   

}
.certificate{
    text-decoration: underline;
  
    
}
span{
    float: right;
    margin-right: 10px;
}
h5{
    font-weight: lighter;
}